# Environment Variables

# Telegram Bot
NEXT_PUBLIC_BOT_NAME=tunnelvpnkzn_bot
TELEGRAM_BOT_TOKEN=your_bot_token_here

# 3X-UI Panel
PANEL_URL=https://your-panel-url.com
PANEL_USERNAME=admin
PANEL_PASSWORD=your_password

# API
NEXT_PUBLIC_API_URL=/api
